<ul class='albums'>
  <% albums.each_with_index do |album, index| %>
    <% index = index + 1 %>
    <li class="<%= 'last' if index % 4 == 0 %>">
      <% present AlbumPresenter, album do |presenter| %>
        <%= presenter.display_actions %>
      <% end %>

      <%= link_to album_path(album) do %>
        <h3><%= truncate(album.name, length: 15, omission: '...') %></h3>
        <% present AlbumPresenter, album do |presenter| %>
          <%= presenter.display_cover %>
        <% end %>
      <% end %>
      <div class='album-info'>
        <p class='photo-counter'>
        <%= "#{fa_icon "camera-retro"} #{album.photos.size}".html_safe %>
        </p>
        <%= render 'partials/share', url: album_url(album) %>
      </div>
    </li>
  <% end %>
</ul>
