<% content_for :head do %>
  <%= stylesheet_link_tag 'first-access' %>
<% end %>

<div class='sad'>
  <p>
    <%= fa_icon "frown-o" %>
    <% if current_user %>
      You don't have any <%= object %>
    <% else %>
      This album don't have any <%= object %>
    <% end %>
  </p>
  <% if object == 'albums' and current_user %>
    <%= link_to_modal "Create your first album now!", new_album_path, class: 'button big' %>
  <% elsif object == 'photos' and current_user %>
    <%= link_to_modal "Add photos now!", new_album_photo_path(@album), class: 'button big' %>
  <% end %>
</div>
