<% content_for :head do %>
  <%= stylesheet_link_tag 'sortable' %>
<% end %>

<ul id='photos' data-update-url='<%= sort_album_photos_path(@album) if current_user and @album.user_id == current_user.id %>'>
  <% photos.each do |photo| %>
  <li id='photo-<%= photo.id %>'>
    <% if current_user and @album.user_id == current_user.id %>
      <div class='actions dropdown'>
        <button class='button clear'><%= fa_icon 'gear' %></button>
        <ul>
          <li><%= link_to 'Remove', album_photo_path(@album, photo.id), class: 'last delete', confirm: 'Are you sure?', method: :delete %></li>
        </ul>
      </div>

    <% end %>
    <%= link_to photo_path(@album, photo.id) do %>
      <% if photo.data['type'] == 'video' %>
        <%= fa_icon 'play' %>
      <% end %>
      <% if current_user and @album.user_id == current_user.id %>
        <%= fa_icon 'arrows', class: 'handle' %>
      <% end %>
      <%= image_tag(photo.data['image_low']) %>

      <% unless photo.data['text'].nil? %>
        <h3><%= truncate(photo.data['text'], length: 70, omission: '...') %></h3>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if current_user and @album.user_id == current_user.id %>
  <% content_for :javascripts do %>
    <script type='text/javascript'>
      $().ready(function(){
        $('#photos').sortable({
          handle: '.handle',
          placeholder: "ui-state-highlight",
          update: function() {
            $.post($(this).data('update-url'), $(this).sortable('serialize'));
          }
        });
      });
    </script>
  <% end %>
<% end %>
