<ul id='photos'>
  <% photos.each_with_index do |photo, index| %>
  <% index = index + 1 %>
  <li class="<%= 'last' if index % 4 == 0 %>">
    <%= @album.user_id == current_user.id %>
      <div class='actions dropdown'>
        <button class='button clear'><%= fa_icon 'gear' %></button>
        <ul>
          <li><%= link_to 'Remove', album_photo_path(@album, photo.id), class: 'last delete', confirm: 'Are you sure?', method: :delete %></li>
        </ul>
      </div>

    <% end %>
    <%= link_to photo_path(@album, photo.id) do %>
      <%= image_tag(photo.images.low_resolution.url) %>

      <% unless photo.caption.nil? %>
        <h3><%= truncate(photo.caption.text, lenght: 100, omission: '...') %></h3>
      <% end %>
    <% end %>

    <% if photo.type == 'video' %>
      <%= fa_icon 'play' %>
    <% end %>
  </li>
  <% end %>
</ul>
