<% @user_photos.each do |p| %>
  <li class="choice">
    <label for="<%= p.id %>">
      <input id="<%= p.id %>" name="album[photos][photo_id][]" type="checkbox" value="<%= p.id %>">
      <img src="<%= p.images.thumbnail.url %>">
      <%= content_tag(:p, p.caption.text) unless p.caption.nil? %>
    </label>
  </li>
<% end %>
