<% @user_photos.each do |p| %>
  <li class="choice">
    <label for="<%= p.id %>">
      <input id="<%= p.id %>" name="album[photos][data][]" type="checkbox" value="<%= "{\"id\":#{p.id.to_json},\"caption\":#{p.caption.to_json},\"images\":#{p.images.to_json}}" %>">
      <img src="<%= p.images.thumbnail.url %>">
      <%= content_tag(:p, p.caption.text) unless p.caption.nil? %>
    </label>
  </li>
<% end %>
