<h1 class='title'>Add photos to <%= params[:album_id] %> album</h1>
<%= semantic_form_for @album, :url => album_photos_path do |f| %>
  <%= f.inputs  "Add photos" do %>
    <%= render 'photo', f: f %>
  <% end %>

  <%= f.actions do %>
    <%= link_to 'Cancel', album_path(params[:album_id]), class: 'button', :rel => "modal:close" %>
    <%= f.submit 'Add photos' %>
  <% end %>
<% end %>
