<% content_for :facebook_meta_tags do %>
  <meta property="og:image" content="<%= @photo.data['image_low'] %>"/>
  <meta property="og:title" content="<%= @album.name %>"/>
  <meta property="og:url" content="<%= album_url(@album) %>"/>
  <meta property="og:site_name" content="BookFy"/>
  <meta property="og:type" content="website"/>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'show-photo' %>
<% end %>

<% if @photo.data['type'] == 'video' %>
  <div class='title'>
    <%= link_to @album.name, album_path(@album) %> &raquo;
    <% if @photo.data['text'] %>
      <%= @photo.data['text'] %>
    <% end %>
  </div>
  <%= videojs_rails sources: { mp4: @photo.data['video_standard'] }, width:"640", poster: @photo.data['image_standard'] %>
<% else %>
  <figure class='show-photo'>
    <figcaption class='title'>
      <%= link_to @album.name, album_path(@album) %> &raquo;
      <% if @photo.data['text'] %>
        <%= @photo.data['text'] %>
      <% end %>
    </figcaption>
      <%= image_tag @photo.data['image_standard'] %>
  </figure>
<% end %>
