<!DOCTYPE html>
<html>
  <head>
    <title>Instabooks</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
      <div id="user-nav">
        <div class='container'>
          <h1><a href='<%= root_path %>'>Instabooks</a></h1>

          <div class='dropdown'>
            <button class='username'><%= current_user.name %></button>
            <ul>
              <li><%= link_to "Create album", new_album_path %></li>
              <li><%= link_to "Show albums", albums_path %></li>
              <li><%= link_to "Sign out", signout_path %></li>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class='home'>
        <hgroup class='logo'>
          <h1>Instabooks</h1>
          <h2>
            Create photo books from
            <br>
            your Instagram photos
          </h2>
        </hgroup>

        <%= link_to "Sign up", "/auth/instagram", class: 'button sign-in' %>
      </div>
    <% end %>
    <div class='main container'>
      <%= yield %>
    </div>
  </body>
</html>
