<!DOCTYPE html>
<html>
  <head>
    <title>Instabooks - Create photo books from your Instagram photos</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :head %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="og:image" content="<%= '/assets/logo.jpg' %>"/>
    <meta property="og:title" content="Instabooks - Create photo books from your Instagram photos"/>
    <meta property="og:url" content="http://www.instabooks.me"/>
    <meta property="og:site_name" content="Instabooks"/>
    <meta property="og:type" content="website"/>
  </head>
  <body class='home'>
    <div class='content'>
      <hgroup class='logo'>
        <h1>Instabooks</h1>
        <h2>
          Create photo books from
          <br>
          your Instagram photos
        </h2>
      </hgroup>
      <%= link_to "Connect your Instagram account", "/auth/instagram", class: 'button connect' %>
    </div>
  </body>
</html>
